type Ta1 = Nat
type Ta2 = Ta1
type Ta3 = Ta2
type Ta4 = Ta3
type Ta5 = Ta4
type Ta6 = Ta5
type Ta7 = Ta6
type Ta8 = Ta7
type Ta9 = Ta8
type Ta10 = Ta9
type Ta11 = Ta10
type Ta12 = Ta11
type Ta13 = Ta12
type Ta14 = Ta13
type Ta15 = Ta14
type Ta16 = Ta15
type Ta17 = Ta16
type Ta18 = Ta17
type Ta19 = Ta18
type Ta20 = Ta19
type Ta21 = Ta20
type Ta22 = Ta21
type Ta23 = Ta22
type Ta24 = Ta23
type Ta25 = Ta24
type Ta26 = Ta25
type Ta27 = Ta26
type Ta28 = Ta27
type Ta29 = Ta28
type Ta30 = Ta29

let f (x : Ta13) (y : Ta24) : Ta4 = x+y
